APP_NAME="Invoice Ninja"
APP_ENV=local
APP_KEY=
APP_DEBUG=true

APP_URL=http://127.0.0.1:8000
REACT_URL=http://localhost:3000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ninja
DB_USERNAME=ninja
DB_PASSWORD=ninja
MULTI_DB_ENABLED=false

DEMO_MODE=false

BROADCAST_DRIVER=log
LOG_CHANNEL=stack
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=log
REQUIRE_HTTPS=false

TRUSTED_PROXIES=
SCOUT_DRIVER=null
NINJA_ENVIRONMENT=selfhost
PDF_GENERATOR=snappdf

UPDATE_SECRET=local-development
DELETE_PDF_DAYS=60
DELETE_BACKUP_DAYS=60
